<!DOCTYPE html>
<html>
    <head>
        <title>stock</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div id="header">
            <a href="/">chrutti.ch</a>
        </div>
        <div class="flex-container">
            <div id="navigation">
                <ul>
                    <li><a href="/">Sale</a></li>
                    <li><a href="/stock">Stock</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div id="content">
                <h1>stock</h1>
            </div>
        </div>
        <div id="footer">made with wiggs.com</div>

    </body>
</html>
